* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: "Raleway", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  background-color: whitesmoke; }

li:hover {
  border: 0.5px solid;
  border-radius: 50px;
  border-color: #8b837e; }

a {
  transition: 0.2s; }
  a:hover {
    background-color: #ff6949;
    border-radius: 50px; }

.imagen {
  padding: 10px;
  border-radius: 50px;
  width: 10%;
  height: 10%; }
  .imagen:hover {
    padding: 1px;
    background-color: #ff6949; }

@media (max-width: 900px) {
  .imagen {
    width: 150px;
    height: 150px; } }

footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border: 1px solid;
  border-color: #ff6949; }
  footer div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; }
    footer div p {
      text-align: center; }
    footer div ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      width: 30%;
      justify-content: space-between; }

.subtitulo {
  display: flex;
  justify-content: center; }
  .subtitulo h1 {
    color: #8b837e; }

.barra_busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.formato_novedades {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .formato_novedades h2 {
    display: flex;
    color: #ff6949; }

.imagenes_novedades {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .imagenes_novedades img {
    display: flex;
    height: 500px;
    width: 33%;
    border-radius: 30px; }

.mas_novedades {
  display: flex;
  flex-wrap: wrap; }
  .mas_novedades img {
    flex-direction: row;
    width: 300px;
    height: 300px;
    border-radius: 30px; }

.descripcion_historia {
  display: flex;
  flex-direction: column; }
  .descripcion_historia div {
    display: flex;
    flex-direction: column;
    width: 100%; }

.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  object-fit: cover;
  padding: 50px;
  grid-gap: 10px; }
  .contenedor-galeria img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.5s; }
    .contenedor-galeria img:hover {
      border: 1px solid;
      border-radius: 50px;
      border-color: #ff6949;
      transform: scale(1.2); }

.imagen-galeria:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.imagen-galeria:nth-child(9) {
  grid-row-start: span 2; }

.imagen-galeria:nth-child(10) {
  grid-row-start: span 2;
  grid-column-start: span 3; }

.imagen-galeria:nth-child(17) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

@media (max-width: 600px) and (min-width: 200px) {
  .contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 400px;
    object-fit: cover;
    padding: 50px;
    grid-gap: 10px; }
  .imagen-galeria:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .imagen-galeria:nth-child(9) {
    grid-row-start: span 1; }
  .imagen-galeria:nth-child(10) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .imagen-galeria:nth-child(17) {
    grid-column-start: span 1;
    grid-row-start: span 1; } }

@media (max-width: 800px) and (min-width: 600px) {
  .contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    object-fit: cover;
    padding: 50px;
    grid-gap: 10px; }
  .imagen-galeria:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .imagen-galeria:nth-child(8) {
    grid-column-start: span 2; }
  .imagen-galeria:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .imagen-galeria:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .imagen-galeria:nth-child(17) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .imagen-galeria:nth-child(20) {
    grid-column-start: span 2; } }

.division_formulario {
  display: flex; }
  .division_formulario section {
    display: flex;
    flex-direction: column;
    width: 30%; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

h3 {
  display: flex;
  justify-content: center;
  color: #ff6949; }

.shop {
  display: flex; }
  .shop section {
    flex-direction: column;
    width: 50%; }
  .shop section div {
    display: flex;
    justify-content: center; }
  .shop section div img {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    padding-right: 30px; }

.carrito_compras fieldset ol li img {
  width: 100px;
  height: 50px; }

.formato_carrito li {
  display: flex;
  align-items: center;
  color: #8b837e; }

ol {
  padding-left: 10px;
  list-style-type: none; }

.shop section div button {
  background-color: whitesmoke; }

.shop section div label {
  display: flex;
  align-items: center; }

i {
  font-size: 30px; }
