@mixin flex-direction-column
    display: flex
    flex-direction: column

@mixin flex-direction-row
    display: flex
    flex-direction: row

@mixin position-center
    justify-content: center

@mixin position-between
    justify-content: space-between

@mixin hovers-imagenes
    border: 1px solid
    border-radius: 50px
    border-color: $third
    transform: scale(1.2)
