footer
    display: flex
    flex-direction: column

    div
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: center

        p
            text-align: center

        ul
            display: flex
            flex-wrap: wrap
            list-style-type: none
            width: 30%
            justify-content: space-evenly
