li:hover
    border: 0.5px solid
    border-radius: 50px
    border-color: $second
a
    transition: 0.2s

    &:hover
        background-color: $third
        border-radius: 50px

.imagen
    padding: 10px
    border-radius: 50%
    width: 10%
    height: 10%

    &:hover
        padding: 1px
        background-color: $third

.text-center
    p
        font-size: large
.nav-link
    font-weight: bold
    font-size: large
    color: $second
.btn-outline-success
    border-color: $third
    &:hover
        background-color: $third
@media (max-width: 1000px)

    .imagen
        width: 150px
        height: 150px
