.subtitulo
    display: flex
    @include position-center

    & h1
        color: $second
        font: $tertiary

.barra_busqueda
    display: flex
    flex-direction: row
    @include position-center

.formato_novedades
    display: flex
    flex-direction: row
    padding-top: 50px
    @include position-center

    & h2
        text-align: center
        align-self: center
        color: $third

.contenedor-imagenes-index
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: 500px
    object-fit: cover
    padding: 50px
    grid-gap: 100px
    text-align: center

    p
        color: $third

    img
        width: 100%
        height: 100%
        border-radius: 50px

.contenedor-video-index
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: 400px
    padding: 50px
    grid-gap: 100px
    text-align: center
    video
        width: 100%
        height: 100%
        border-radius: 50px

@media (max-width: 800px ) and (min-width: 200px)

    .contenedor-imagenes-index
        display: grid
        grid-template-columns: repeat(1, 1fr)
        grid-auto-rows: 400px


    .contenedor-video-index
        display: grid
        grid-template-columns: repeat(1, 1fr)
        grid-auto-rows: 400px
