.shop
    display: flex

    & section
        flex-direction: column
        width: 50%

    & section div
        display: flex
        justify-content: center

    & section div img
        width: 100px
        height: 50px
        border-radius: 30px
        padding-right: 30px

.carrito_compras fieldset ol li img
    width: 100px
    height: 50px

.formato_carrito li
    display: flex
    align-items: center
    color: $second

ol
    padding-left: 10px
    list-style-type: none

.shop section div button
    background-color: $first

.shop section div label
    display: flex
    align-items: center

i
    font-size: 30px

.carrito
    height: 5px
    width: 5px